  <div class="row">

  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white border-light" style="width: 21vw;">
      <i class="fas fa-car text-center py-3"></i>
      <div class="card-body">
        <h5 class="card-title">Police</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 144</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>


  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white" style="width: 21vw;">
      <i class="fas fa-ambulance text-center py-3"></i>
      <div class="card-body ">
        <h5 class="card-title">Ambulance</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 144</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white border-light" style="width: 21vw;">
      <i class="fas fa-angry text-center py-3 "></i>
      <div class="card-body">
        <h5 class="card-title">Man in Black</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 537777444</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white border-light" style="width: 21vw;">
      <i class="fas fa-apple-alt text-center py-3 "></i>
      <div class="card-body">
        <h5 class="card-title">Apple</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 6363678335</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white border-light" style="width: 21vw;">
      <i class="fas fa-bed text-center py-3 "></i>
      <div class="card-body">
        <h5 class="card-title">Hotel</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 522567736</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" align="center">
    <div class="card my-5 mx-5 bg-dark text-white border-light" style="width: 21vw;">
      <i class="fas fa-bicycle text-center py-3 "></i>
      <div class="card-body">
        <h5 class="card-title">Bicycle Rental</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-light">Phone: 4424525252</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="card-link mr-5" id=links><i class="far fa-envelope"></i></a>
        <a href="#" class="card-link ml-5" id=links><i class="fas fa-phone"></i></a>
      </div>
    </div>
  </div>
</div>
